<!doctype html>

<app-sidebar></app-sidebar>
<div class="users">
  <div class="users-data">
    <h2>Users Management</h2>
    @if (!loading) {
      <table mat-table [dataSource]="dataSource">
        <!-- Email -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let user">{{ user.email }}</td>
        </ng-container>
        <!-- Role -->
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef>Role</th>
          <td mat-cell *matCellDef="let user">{{ user.role }}</td>
        </ng-container>
        <!-- Permissions -->
        <ng-container matColumnDef="permissions">
          <th mat-header-cell *matHeaderCellDef>Permissions</th>
          <td mat-cell *matCellDef="let user">
            <div class="perm-grid">
              @for (item of sortPermissions(user.permissions); track $index) {
                <div>
                  <strong>{{ item.split('_')[0] }}</strong> {{ item.split('_')[1] }}
                </div>
              }
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    } @else {
      <p>Loading Users...</p>
    }
  </div>
</div>
