<!doctype html>

<div class="navleft">
  <div class="logo">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      id="Layer_1"
      data-name="Layer 1"
      viewBox="0 0 1075.59 1008.96"
      width="75px"
      height="75px"
    >
      <path
        d="M992.86,551.46c-30.62,0-57,17.58-71.3,38.14h-169.55l-83.5-181.74-121.21,295.82L436.22,0l-178.41,589.6H0v69.05h321.35s95.46-355.54,95.46-355.54l97.46,705.85,158.98-426.63,45.73,76.32h202.59c14.34,20.5,40.68,39.97,71.3,39.97,45.65,0,82.73-36.43,82.73-74.49s-37.08-72.67-82.73-72.67Z"
        style="fill: #00aa7c"
      />
    </svg>
  </div>
  <div class="links">
    <p>Navigation</p>
    <div class="navlinks">
      <ul>
        <a href="http://">
          <li class="nav-active nav-li">
            <mat-icon matSuffix>dashboard</mat-icon>
            Dashboard
          </li>
        </a>
        <a href="http://">
          <li class="nav-li">
            <mat-icon matSuffix>group</mat-icon>
            Users
          </li>
        </a>
        <a href="http://">
          <li class="nav-li">
            <mat-icon matSuffix>manage_accounts</mat-icon>
            Roles
          </li>
        </a>
        <a href="http://">
          <li class="nav-li">
            <mat-icon matSuffix>key</mat-icon>
            Permissions
          </li>
        </a>
        <a href="http://">
          <li class="nav-li">
            <mat-icon matSuffix>person_heart</mat-icon>
            Patients
          </li>
        </a>
      </ul>
    </div>
  </div>
  <div>
    <p>User</p>
    <div class="navlinks">
      <ul>
        <a href="http://">
          <li class="nav-active nav-li">
            Logout
            <mat-icon matSuffix>logout</mat-icon>
          </li>
        </a>
      </ul>
    </div>
  </div>
</div>

<div class="dashboard">
  <div class="dash-main">
    <h2>Main Information</h2>
    <ul>
      <li class="main-li">
        <p>Active <br> Users</p>
        <span>{{ quickInfo[0].activeUsers }}</span>
      </li>
      <li class="main-li">
        <p>Total <br> Users</p>
        <span>{{ quickInfo[0].totalUsers }}</span>
      </li>
      <li class="main-li">
        <p>Total <br> Patients</p>
        <span>{{ quickInfo[0].totalPatients }}</span>
      </li>
    </ul>
    <ul>
      <li class="main-li">
        <p>Today <br> Appointments</p>
        <span>{{ quickInfo[0].todayAppointments }}</span>
      </li>
      <li class="main-li">
        <p>Canceled <br> Appointments</p>
        <span>{{ quickInfo[0].canceledAppointments }}</span>
      </li>
    </ul>
  </div>
  <div class="dash-activity">
    <h2>Recent Activity</h2>
    <table mat-table [dataSource]="dataSource">

      <!-- Date/Time Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let activity">{{ activity.date }}</td>
      </ng-container>

      <!-- Time Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef>Time</th>
        <td mat-cell *matCellDef="let activity">{{ activity.time }}</td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let activity">{{ activity.email }}</td>
      </ng-container>

      <!-- Role Column -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Role</th>
        <td mat-cell *matCellDef="let activity">{{ activity.role }}</td>
      </ng-container>

      <!-- Activity Column -->
      <ng-container matColumnDef="activity">
        <th mat-header-cell *matHeaderCellDef>Activity</th>
        <td mat-cell *matCellDef="let activity">{{ activity.activity }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <p>You are logged in as: {{ user?.email }}</p>
</div>
