:host {
  display: flex;
  background: #ffffff url('../../assets/medsoft-bg.svg') repeat;
  background-size: 1450px;
  font-family: 'Inter', sans-serif;
}

.dashboard {
  padding: 3rem 0;
}

.dash-main {
  margin-bottom: 2rem;
}

.dash-main h2, .dash-activity h2 {
  font-size: 1rem;
  color: #00aa7c;
}
.dash-main ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0;
}
.main-li {
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0 8px 25px rgba(230, 230, 230, 0.8);
  border-radius: 15px;
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  gap: 2.5rem;
  width: 150px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
}
