<!doctype html>
<h2 class="title">Create User</h2>

<form [formGroup]="form" (ngSubmit)="submit()" class="form-container">
  <!-- EMAIL -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <!-- PASSWORD -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Password</mat-label>
    <input matInput type="password" formControlName="password" />
  </mat-form-field>

  <!-- ROLE -->
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role" (selectionChange)="onRoleChange($event.value)">
      <mat-option value="ADMIN">Admin</mat-option>
      <mat-option value="DOCTOR">Doctor</mat-option>
      <mat-option value="RECEPTIONIST">Receptionist</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- PERMISSIONS -->
  <div class="permissions-container">
    <h3>Permissions</h3>
    <mat-selection-list formControlName="permissions" class="permissions-list">      
      @for (p of permissions; track p) {
        <mat-list-option [value]="p"> {{ p }} </mat-list-option>
      }      
    </mat-selection-list>
  </div>

  <!-- SUBMIT -->
  <button mat-raised-button color="primary" type="submit" class="submit-btn">Create User</button>

  @if (message) {
    <p class="message">{{ message }}</p>
  }
</form>
